
body {
      background-color: #fff8f0;
      font-family: 'Arial', sans-serif;
}

nav a.active{
    border-bottom:2px solid red;
    border-radius: 5px;
}

.menu-header {
    background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?crop=entropy&cs=tinysrgb&fit=max&w=1200') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.menu-header h1 {
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.menu-header p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

.card{
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
    margin-bottom: 30px;
}

.card img{
    height: 300px;
    object-fit: cover;
}

.card:hover
{
    transform: scale(1.02);
    box-shadow: 0px 0px 2px rgb(68, 63, 63);
    transition: 0.3s ease;
}

.btn-orange {
    background-color: #ff5722;
    color: white;
    border: none;
}

.btn-orange:hover {
  background-color: #e64a19;
}

.nav-pills .nav-link.active {
    background-color: #ff5722;
}

.text-pink{
  color:rgb(255, 0, 98);
}

